* {
    margin: 0;
    padding: 0;
    text-align: center;
}

/* Fix heading spacing */
h1 {
    background-color: #081b31;
    color: #fff;
    height: 6rem;
    line-height: 3rem;   /* same as height */
    margin-bottom: 2rem; /* space below heading */
}

/* Keep choice box size */
.choice {
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

/* FIX image size properly */
.choice img {
    height: 120px;
    width: 120px;
    object-fit: contain;
}

.choice:hover{
    cursor: pointer;
    background-color: #081b31;
    border-radius: 50%;
}

.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    gap: 5rem;
    margin-top: 3rem;
}

#user-score, #comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 5rem;
}
#msg{
    background-color: #081b31;
    color: #fff;
   
    font-size: 2rem;
    line-height: 3rem;
    display: inline;
    padding:1rem;
    border-radius: 1rem;
}